/* style the bex page */
.red {
	display:block;
	float:left;
	border-radius:4px;
	text-align:center;
	font-weight:400;
	color:#fff;
	background:#ff3019;
	background:-moz-linear-gradient(-45deg,#ff3019 0,#cf0404 100%);
	background:-webkit-gradient(linear,left top,right bottom,color-stop(0%,#ff3019),color-stop(100%,#cf0404));
	background:-webkit-linear-gradient(-45deg,#ff3019 0,#cf0404 100%);
	background:-o-linear-gradient(-45deg,#ff3019 0,#cf0404 100%);
	background:-ms-linear-gradient(-45deg,#ff3019 0,#cf0404 100%);
	background:linear-gradient(135deg,#ff3019 0,#cf0404 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=1)
}

.grey {
	display:block;
	float:left;
	border-radius:4px;
	text-align:center;
	font-weight:400;
	color:#fff;
	background:#e2e2e2;
	background:-moz-linear-gradient(-45deg,#e2e2e2 0,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	background:-webkit-gradient(linear,left top,right bottom,color-stop(0%,#e2e2e2),color-stop(50%,#dbdbdb),color-stop(51%,#d1d1d1),color-stop(100%,#fefefe));
	background:-webkit-linear-gradient(-45deg,#e2e2e2 0,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	background:-o-linear-gradient(-45deg,#e2e2e2 0,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	background:-ms-linear-gradient(-45deg,#e2e2e2 0,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	background:linear-gradient(135deg,#e2e2e2 0,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1)
}

.green {
	display:block;
	float:left;
	border-radius:4px;
	text-align:center;
	font-weight:400;
	color:#fff;
	background:#a4b357;
	background:-moz-linear-gradient(-45deg,#a4b357 0,#75890c 100%);
	background:-webkit-gradient(linear,left top,right bottom,color-stop(0%,#a4b357),color-stop(100%,#75890c));
	background:-webkit-linear-gradient(-45deg,#a4b357 0,#75890c 100%);
	background:-o-linear-gradient(-45deg,#a4b357 0,#75890c 100%);
	background:-ms-linear-gradient(-45deg,#a4b357 0,#75890c 100%);
	background:linear-gradient(135deg,#a4b357 0,#75890c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4b357', endColorstr='#75890c', GradientType=1)
}


.bextable {
	border-radius:4px;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	background-position:0 30px; 
	background-repeat:no-repeat;
}

.bextable th {
	font-weight:bold;
	padding-top:10px;
	height:40px;
}

.bextable td {
	font-size:1.2em;
	padding-left:10px;
}

.ruleractueel { background-color:#F1F1F1;}
.column {background-color: rgba(250,250,250,0.9);}
